analysis/results/data.csv
analysis/results/data.json
appendonly.aof
redis.conf

*.csv

*.csv

analysis/results/filteredCSV/filterRecallCorrectness.csv

*.csv

analysis/results/filteredCSV/filterResponseTimes.csv

analysis/results/filteredCSV/filterScore.csv

analysis/results/filteredJson/filterRecallCorrectness.json

analysis/results/filteredJson/filterResponseTimes.json

analysis/results/filteredJson/filterScore.json

analysis/results/filteredCSV/filterAge.csv

public/.DS_Store

public/modules/.DS_Store

analysis/.DS_Store

analysis/results/filteredJson/filterAge.json
