@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
  color: #333;
  font-family: "PT Sans", sans-serif;
}

body {
  background: #F1EFF1;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
  text-align: left;
  overflow-x: hidden;
  margin: auto;
  min-width:700px;
  width: 100%;
  outline: none;
}

#consentForm {
  background: white;
}

#experimentr {
  margin: 4em auto 1em auto;
  width: 720px;
}

#control {
  margin-top: 1em;
}

#next-button {
  float: right;
}

.placeholder {
  color: steelblue;
  font-weight: bold;
}
